#add-room-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
}

.add-room {
    border: 0.2rem solid #a2c775;
    border-radius: 1rem;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 12rem;
    padding: 8rem;
    display: flex;
}

#img-container {
    width: 36%;
}

#img-container > img {
    width: 60rem;
}

#room-info {
    transform: translateX(10rem);
    width: 100%;
    display: flex;
    flex-direction: column;
}

#room-info input[type="text"] {
    font-size: 2.8rem;
    margin-bottom: 8rem;
}

#room-name {
    width: 35rem;
}

#room-desc {
    width: 75rem;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

.file-btn {
    background-color: white;
    color: #a2c775;
    border: 0.2rem solid #a2c775;
    margin-top: 5rem;
}