.help-nav {
    display: none;
}

#main-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

#header-nav {
    width: 100vw;
    background-color: #91C651;
    height: 5rem;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#im-logo {
    height: 100%;
}

#panels-container {
    display: flex;
}

#menu-panel {
    width: 13%;
    min-width: 35rem;
    min-height: 100vh;
    background-color: #394648;
}

#menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 13rem;
}

.menu-item {
    padding: 2rem 0;
    margin-bottom: 1rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    transition:  background-color 30ms 40ms ease;
}

.menu-item:hover {
    background-color: #596869;

    /*
        596869
        586F7C
    */
}

.menu-item > label {
    margin-left: 2rem;
    font-size: 3.4rem;
    color: #dee0eb;
    font-family: "Pontano Sans";
    cursor: pointer;
}

.menu-item > .item-icon {
    width: 5rem;
    height: 5rem;
    filter: invert(90%);
    margin-right: 4rem;
}

.menu-item.active {
    background-color: #91C651;
}

.menu-item.active .item-icon {
    filter: invert(100%);
}

.menu-item.active label {
    color: #ffffff;
}

#main-content {
    width: 100%;
}

.faded-label {
    font-size: 3rem !important;
    font-family: "Pontano Sans" !important;
    color: #7f7f7f !important;
}

.section-title {
    width: 100%;
    font-size: 4.3rem;
    font-family: "Pontano Sans";
    color: #394648;
    margin-bottom: 2rem;
}

#logout-btn {
    margin-right: 8rem;
    font-size: 3rem;
    font-family: "Varela Round";
    color: white;
    cursor: pointer;
}