.popup-content input[type="text"] {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 8rem;
}

#equipment-img {
    width: 80rem;
    height: 50rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    border-radius: 1rem;
}

#add-room .popup-section {
    width: 50%;
    height: 100% !important;
}

.ps1 {
    margin-right: 5rem;
    position: relative;
    height: 96% !important;
}

.ps1 .form-input:nth-child(4) {
    margin-bottom: 7.3rem;
}


.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

.file-btn {
    background-color: white;
    color: #a2c775;
    border: 0.2rem solid #a2c775;
    margin-top: 5rem;
}

#chose-img-btn {
    width: 80rem;
    padding: 0;
    margin: 0;
}

#create-room-btn {
    position: absolute;
    width: 100%;
}

.ps1 #create-room-btn {
    padding: 0;
    bottom: 0;
    position: absolute;
}