#request-item {
    border: 0.2rem solid #a2c775;
    border-radius: 1rem;
    padding: 4rem;
    margin-bottom: 5rem;
}

.request-item-section:first-child {
    display: flex;
}

.request-item-section:first-child > * {
    flex-grow: 1;
}

h1.item-name {
    margin: 0;
}