#request-equipment {
    padding-left: 5rem;
    margin-top: 7rem;
    display: inline-block;
}

#request-equipment > label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 3rem;
}

.input-container {
    margin-bottom: 3rem;
}

.input-container input{
    margin: 0 2rem;
    border: 0;
    border-bottom: 1px solid #3d3e42;
    font-family: "Lato";
    text-align: center;
    transform: translateY(-1.2rem);
}

.input-container input:focus {
    outline: none;
}

#material-container {
    margin-top: 10rem;
    width: 100%;
}

#new-material {
    border: 1px solid #dbdbdb;
    background-color: #e9e9e9;
    height: 12rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#new-material img {
    height: 7rem;
    margin: 0 5rem;
}

#new-material label {
    font-size: 3.2rem;
    font-family: "Lato";
    text-transform: capitalize;
}