#material-form {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    flex-direction: column;
}

#material-form input {
    height: 5rem;
    margin-bottom: 5rem;
    position: relative;
    border: 0;
    border-bottom: 1px solid #bdc0c0;
}

.label-title {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 3rem;
}

#material-form input:focus {
    border-bottom: 1px solid #394648;
}

#mf-dashboard {
    border: 0.2rem solid #a2c775;
    border-radius: 1rem;
    width: 100%;
    margin-bottom: 12rem;
    display: flex;
    padding: 4rem 0;
}

#mf-dashboard input[type="checkbox"] {
    display: inline-block;
    margin: 0;
}

.mf-d-section {
    padding: 5rem 7rem;
    flex-grow: 1;
}

.mf-d-section label {
    font-size: 2.7rem;
    font-family: "Open Sans";
    color: #394648;
}

#material-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#material-container input {
    width: 100%;
    display: block;
}

.mf-section {
    width: 65rem;
    border: 0.2rem solid #a2c775;
    padding: 12rem 9rem;
    border-radius: 1rem;
    margin-bottom: 5rem;
}

.mf-section h1 {
    font-size: 6rem;
    margin-bottom: 6rem;
    color: #394648;
    font-family: "Pontano Sans";
    font-weight: normal;
}

.form-next-section {
    width: 60%;
    height: 10rem;
    margin: 8rem auto 0 auto;
    border: 0;
    background-color: #91C651;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 3rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-date, .input-time{
    border: 1px solid #bdc0c0 !important;
    display: block;
    font-family: "Pontano Sans";
    letter-spacing: 0.3rem;
    text-align: center;
    margin-top: 1rem;
    width: 70%;
    border-radius: 1rem;
}

.material-sheet {
    animation: fade-in 0.3s ease forwards;
    margin-bottom: 13rem !important;
}

.material-sheet h1 {
    transition: all 1s linear;
}

.remove-material-btn {
    font-size: 3.5rem;
    cursor: pointer;
    color: #394648;
    text-align: center;
    font-family: "Pontano Sans";
    width: 70%;
    margin: 12rem auto 0 auto;
    height: 8rem;
    line-height: 8rem;
    border-radius: 1rem;
    border: 1px solid #394648;
    background-color: transparent;
    user-select: none;

    transition: all 100ms 20ms ease;
}

.remove-material-btn:hover {
    color: white;
    background-color: #394648;
}

#material-form .form-button {
    float: right;
    margin-top: 5rem;
}

#selected-material-section {
    border-radius: 1rem;
    width: 100%;
    margin-bottom: 12rem;
    padding: 4rem 0;
}

#selected-material-section .faded-label {
    margin: 0 auto;
    width: 20%;
    display: block;
    text-align: center;
}

.remove-button {
    background-color: white;
    color: #91C651;
    border: 0.2rem solid #91C651;
    transition: all 100ms ease;
}

.remove-button:hover {
    background-color: #91C651;
    color: white;
}

#selected-material-section .form-button {
    margin: 0 auto !important;
}

.mf-d-section.button-container {
    position: relative;
}

.mf-d-section.button-container > .form-button {
    right: 8rem;
    position: absolute;
}