* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 5px;
}

body {
	overflow-x: hidden;
}

input {
	user-select: none;
}

input:focus {
	outline: none;
}

input[type="checkbox"] {
	height: auto !important;
	margin-bottom: 0 !important;
}

::-webkit-input-placeholder { 
	font-family: "Varela Round";
	letter-spacing: 0.1rem;
	
}

::-moz-placeholder {
	font-family: "Varela Round";
	letter-spacing: 0.1rem;
	opacity: 1;
}

input.login-register-input, select.login-register-input {
	height: 7rem !important;
	border: 0.2rem solid #8ea4a7;
	width: 40%;
	min-width: 30rem;
	margin: 0 auto 6rem auto;
	display: block;
	border-radius: 5rem;
	padding: 0 5rem;
}

input.form-input {
	border: 0;
	border-bottom: 0.2rem solid #bdbdbd;
	padding: 1rem 0;
	font-family: "Varela Round";
}

input.form-input:focus {
	border-bottom: 0.2rem solid #394648;
}


.title {
	font-size: 7rem;
	font-family: "Pontano Sans";
	text-transform: none;
	color: #171A21;
	text-align: center;
}

.text {
	color: #212829;
	font-size: 3rem;
	font-family: "Varela Round";
	line-height: 5rem;
}

.light-text {
	color: white;
}

.dark-text {
	color: #0f0a0a;
}

.blue-text-link  {
	font-size: 3rem;
	font-family: "Varela Round";
	color: #39A0ED;
	cursor: pointer;
	text-align: center;
	margin: 2rem auto;
	display: block;
	width: 30%;
	user-select: none;
}

.blue-text-link:hover {
	border-bottom: 1px solid #39A0ED;
}

#root {
	width: 100vw;
}

.form-button, .file-btn {
    width: 35rem;
    height: 10rem;
    border: 0;
    background-color: #91C651;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 3rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
	text-align: center;
	line-height: 10rem;
	user-select: none;
	text-align: center;
	border-radius: 1rem;
	display: block;
	margin: 0 auto;
}

.form-button:focus, input, textarea {
    outline: none;
}

.locked-button {
	background-color: #bdbdbd !important;
	cursor: not-allowed !important;
}

.button-container {
    display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
}

.scroll-top {
	width: 12rem;
	height: 12rem;
	background-color: #91C651;
	border-radius: 1rem;
	cursor: pointer;
	position: fixed;
	right: 8rem;
	bottom: 8rem;
	display: none;
}

label.cb-label {
	display: inline !important;
	font-size: 3rem !important;
	margin-left: 1rem;
}

select {
	background-color: white;
	padding: 2rem 4rem;
	font-family: "Varela Round";
	border-radius: 1rem;
	display: block;
}

select:focus {
	outline: 0;
}

.label-title {
    font-weight: bold;
    display: inline-block;
	margin-bottom: 3rem;
	font-family: "Open Sans";
	color: #394648;
}

.close-icon {
	width: 7rem;
	height: 7rem;
	position: absolute;
	top: -3rem;
	left: -3rem;
	cursor: pointer;
}

.faded-label {
	text-align: center;
	display: block;
	margin-top: 5rem;
}

.close-red {
	position: absolute;
	max-width: 6rem;
	top: 3rem;
	right: 3rem;
	cursor: pointer;
}

.white-btn {
	border: 0.2rem solid #91C651;
	background-color: white;
	color: #91C651;
	margin-right: 4rem;
}

.red-btn {
	border: 0.2rem solid #E54B4B;
	background-color: white;
	color: #E54B4B;
	margin-right: 4rem;
}