#rm-popup-container {
    z-index: 10;
}

#rm-popup {
    font-size: 3rem;
    position: relative;
}

.equipment-popup > #rm-popup {
    padding-bottom: 10rem;  
}

#disclaimer-eq {
    position: absolute;
    bottom: 7rem;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    display: block;
}