.room-edit.room-info > input {
    display: block;
    margin-bottom: 8rem;
}

.in-name {
    width: 38%;
}

.in-desc {
    width: 100%;
}

.room-edit-img {
    width: 60rem;
    height: 40rem;
    margin: 0 auto 5rem auto;
    display: block;
}

#room-info-img {
    display: flex;
}

#room-info-img > img {
    border-radius: 1rem;
}

#room-info-img .white-btn {
    float: left !important;
}