#dashboard {
    border: 0.2rem solid #a2c775;
    border-radius: 1rem;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 12rem;
    padding: 4rem 0;
    display: -ms-flexbox;
    display: flex;
}

.db-section {
    padding: 5rem 7rem;
}